#pageLanding {
    width: 100vw;
    height: 100vh;
}

.loginDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.loginDiv .textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 25%;
    height: 250px;
}

.loginDiv .textWrapper h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 63px;

    
    display: flex;
    align-items: center;
    text-align: center;
}

.loginDiv .textWrapper p {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 32px;
    
    display: flex;
    align-items: center;
    text-align: center;
}

.loginDiv .textWrapper button {
    width: 150px;
    height: 50px;
    border-radius: 11px;
    background: #4A6FA5;
    color: white;
}

.MuiDialogContent-root {
    display: inline-grid;
}